{{>layout/header}}
    <h1>Dashboard Ver.1</h1>
    <div class="col-md-12">
            <br>
            <!-- 목록 출력 영역 -->
            <table class="table table-horizontal table-bordered">
                        <thead class="thead-strong">
                        <tr>
                            <th>ID(role)</th>
                            <th>습격전 공격</th>
                            <th>클랜리그 참여/기회/별</th>
                            <th>클랜전 참여/기회/별</th>
                            <th>지원 주고/받고</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        {{#dashboard1}}
                            <tr>
                                <td>{{name}}({{role}})</td>
                                <td>{{capitalRaidAttackCount}}</td>
                                <td>{{clanwarlegueUsedAttackCount}} / {{clanwarlegueTotalAttackCount}} / {{clanwarleagueStars}}</td>
                                <td>{{clanwarUsedAttackCount}} / {{clanwarTotalAttackCount}} / {{clanwarStars}}</td>
                                <td>{{donations}} / {{donationsReceived}}</td>
                            </tr>
                        {{/dashboard1}}
                        </tbody>
                    </table>
    </div>

{{>layout/footer}}
