{{>layout/header}}
    <h1>Dashboard Ver.1</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" id="btn-members">클랜원</button>
                <button type="button" class="btn btn-primary" id="btn-capitalraid">습격전</button>
                <button type="button" class="btn btn-primary" id="btn-clanleaguetaglist">클랜리그 태그</button>
                <button type="button" class="btn btn-primary" id="btn-clanleaguewar">클랜리그 라운드</button>
                <button type="button" class="btn btn-primary" id="btn-clanleagueattack">클랜리그 공격</button>
                <button type="button" class="btn btn-primary" id="btn-clanwar">클랜전</button>
            </div>
        </div>
    </div>

{{>layout/footer}}
